<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav class="admin-menu">
        {{ if .isAuthenticated }}
        {{ if .isCypressMode }}
        <a href="/tools">Tools</a>
        {{ end }}
        <a href="/info">Info</a>
        <a href="/logs">Logs</a>
        <a href="/admin/users">Users</a>
        <a href="/admin/feeds">Feeds</a>
        <a href="/admin/items">Items</a>
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
        {{ else }}
        {{ if .isCypressMode }}
        <a href="/tools">Tools</a>
        {{ end }}
        <a href="/login">Login</a>
        {{ end }}        
    </nav>
    

    <h1>{{ .title }}</h1>

    {{ if .error }}
    <div class="error">{{ .error }}</div>
    {{ end }}

    {{ if .success }}
    <div class="success">{{ .success }}</div>
    {{ end }}

    {{ if .message }}
    <div class="message">{{ .message }}</div>
    {{ end }}

    {{ block "content" . }}{{ end }}
</body>
</html>
