{{ define "create_user.html" }}
{{ template "partials/header.html" . }}
    <form action="/admin/users" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="actions">
            <button type="submit">Create User</button>
            <a href="/admin/users">Cancel</a>
        </div>
    </form>
{{ template "partials/footer.html" . }}
{{ end }}
